#####################################################################
#####################################################################
#   Toolhead - Badnoob Afterburner
#   Extruder - Clockwork
#   Hotend - Dragon HF
#   Probe - Klicky
#####################################################################
#####################################################################


#   MCU 
[mcu head0] 
#serial: /dev/serial/by-id/usb-Klipper_stm32f072xb_290027001357425835303220-if00
canbus_uuid: 6cb953e0b58b

[temperature_sensor Toolhead_MCU]
sensor_type: temperature_mcu
sensor_mcu: head0
min_temp: 0
max_temp: 125

[adxl345]
cs_pin: head0:PA4
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 50  # default is 75
probe_points:
    180, 180, 20  # middle of bed


#   Extruder 
[extruder]
step_pin: head0:PB4
dir_pin: head0:PB3
enable_pin: !head0:PA15
full_steps_per_rotation: 200                                       # Set to 200 for LDO 1.8° stepper motor, and set to 400 for OMC(StepperOnline) 0.9° stepper motor
rotation_distance: 22.6789511                                       #Bondtech 5mm Drive Gears            # See calibrating rotation_distance on extruders doc
gear_ratio: 50:17                                                   # For Mini Afterburner
microsteps: 32
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: head0:PA8
sensor_type: Generic 3950
sensor_pin: head0:PB0
pullup_resistor: 2200
min_temp: 0
max_temp: 310
min_extrude_temp: 160
max_extrude_only_distance: 125
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_only_accel: 10000
max_extrude_cross_section: 3.0

[tmc2209 extruder]
uart_pin: head0:PB5
interpolate: False
run_current: 0.600
hold_current: 0.300

[heater_fan extruder]             # Extruder Heatbreak Fan
pin: head0:PB10

[firmware_retraction]
retract_length: 1.5
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 40
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 40
#   The speed of unretraction, in mm/s. The default is 10 mm/s.


#   Nozzle/Part Fan 
[fan]                             # Nozzle/Part Cooling Fan
pin: head0:PB11
off_below: 0.05

#   Probe 
[probe]
pin: head0:PA0
#pin:  !PG11
x_offset:                  -1.5
y_offset:                  19.75
lift_speed:                40
speed:                     10
samples:                   5
samples_result:            median
sample_retract_dist:       0.5
samples_tolerance:         0.033
samples_tolerance_retries: 5

[z_calibration]
nozzle_xy_position:   387,86.5  # <X,Y position for clicking the nozzle on the Z endstop>
switch_xy_position:   381,66.5  # <X,Y position for clicking the probe's switch body on the Z endstop>
switch_offset:        0.190   # <offset of the switch trigger (larger number means closer to the bed)>
#bed_xy_position:      170,170 # <X,Y position for probing the bed, for instance the center point>
max_deviation:        1
clearance:            15
speed:                150
probing_first_fast:   True
probing_speed:        20
probing_second_speed: 2
probing_retract_dist: 0.5
start_gcode:          #<macro name for attaching the probe>
     ATTACH_PROBE
end_gcode:            #<macro name for docking the probe>
     DOCK_PROBE
