[mcu]
serial: /dev/ttyAMA0
baud: 250000
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 16
max_z_accel: 32

[stepper_x]
step_pin: gpio11
dir_pin: gpio10                                                     # Check motor direction in link above. If inverted, add a ! before gpio10
enable_pin: !gpio12
full_steps_per_rotation: 400
microsteps: 32
rotation_distance: 40
#endstop_pin: ^PC0
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_speed: 50
homing_retract_dist: 0
position_min: -2
position_max: 180
position_endstop: -2
[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 0.700
hold_current: 0.350
#stealthchop_threshold: 999999
diag_pin: ^gpio4       # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 160  # 255 is most sensitive value, 0 is least sensitive

[stepper_y]
step_pin: gpio6
dir_pin: !gpio5                                                      # Check motor direction in link above. If inverted, add a ! before gpio5
enable_pin: !gpio7
full_steps_per_rotation: 400
microsteps: 32
rotation_distance: 40
#endstop_pin: ^PC1
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_speed: 50
homing_retract_dist: 0
position_endstop: 0
position_max: 185
[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 0.700
hold_current: 0.350
#stealthchop_threshold: 999999
diag_pin: ^gpio3      # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 160  # 255 is most sensitive value, 0 is least sensitive

[safe_z_home]
home_xy_position: 70, 110
z_hop: 10

[stepper_z]
step_pin: gpio19
dir_pin: gpio28                                                    # Remove the ! before gpio28 if motor direction is inverted.
enable_pin: !gpio2
full_steps_per_rotation: 400
microsteps: 32
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop ## For Probe Z Endstop
position_min: -5
position_max: 180
homing_speed: 12
[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.700
hold_current: 0.350
#stealthchop_threshold: 999999

[heater_bed]
heater_pin: gpio21
sensor_type: Generic 3950
sensor_pin: gpio26
min_temp: -130
max_temp: 130

[controller_fan controller_fan]
pin: gpio20
max_power: 0.3

[bed_mesh]
speed: 100
horizontal_move_z: 5
mesh_min: 25,25
mesh_max: 155,155
mesh_pps: 2,2
probe_count: 5,5
algorithm: bicubic

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>
